.App-header {
  background:url("https://hdwallsource.com/img/2014/3/cherry-blossom-wallpaper-6558-6799-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size:1920px 1080px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Calculator
{
  background-color: #6B798C;
  border:1px solid white;
  border-radius:15px;
  width:500px;
  height:500px;
  padding:10px;
  display: block;
  justify-content: center;
}
#Screen
{
  background-color:#8FDF94;
  border:1px solid black;
  border-radius:5px;
  color:black;
  width:450px;
  height:50px;
  margin-top:20px;
  padding:5px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  /* font-family: "Digital-7"; */
  overflow: hidden;
}


.row {
  
  height: 11vh;
  color: black;
  justify-content: center;
}

.container
{
  margin-top: 10px;
  display:flex;
  flex-wrap: wrap;
}


.button
{
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color:grey ;
  padding:20px;
  flex:1 1 80px;
  border:1px solid black;
  border-radius:5px;
  text-align: center;
}

.button:hover
{
  cursor: pointer;
  background-color: #9b9b9b;
}
 .button:active {
  transform: scale(.95);
}

.largebuttoncolumn
{
  flex:170px;
}

.largebuttonrow
{
  height:110px;
}

.clear
{
  background-color:#bc0810 ;
}

.clear:hover
{
  background-color:#f10a14;
}

.operator
{
  background-color:#414141;
}

.operator:hover
{
  background-color:#696969;
}

.equal
{
  background-color:#da5f00;
}

.equal:hover
{
  background-color:#ff7a13;
}
